.banner {
    height: 75dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/app/catalog.jpg');
    background-size: 450px;
    opacity: 0.3;
}

/* div.banner__content h1 {
    margin-top: 0;
}

div.banner__content h2 {
    margin-top: 0;
}

div.banner__content p {
    margin-top: 0;
} Esto de abajo es lo mismo que lo que tengo aquí comentado*/
div.banner__content h1,
div.banner__content h2,
div.banner__content p {
    margin-top: 0;
}