.footer {
    margin-top: 100px;
    padding: 1.25 rem 30%;
    padding: 1.25rem 0;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;


    /*
    rem / em
    rem: unidad relativa al documento en sí. Equivale a 16 px (o a los px que ponga en el font size en .root.) .
    em: unidad relativa al bloque. Igual que el rem, es relativo al font-size, pero al del bloque en el que está incrustado.
    */
    font-size: 2 rem;
}